VITE_API_URL=/api
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_API_KEY=
VITE_TMDB_ACCESS_TOKEN=
VITE_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
VITE_TMDB_BACKDROP_BASE_URL=https://image.tmdb.org/t/p/w1280
VITE_YOUTUBE_EMBED_BASE_URL=https://www.youtube.com/embed
VITE_POSTER_FALLBACK_URL=
